---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: starkandwayne/concourse-ruby
    tag: '2.6'

inputs:
- name: git
  path: kit
- name: git-ci
- name: bats
- name: work
- name: stemcell

run:
  path: git-ci/ci/scripts/bats

params:
  BAT_DEBUG_MODE:         false
