---
meta:
  kit:     bosh
  release: BOSH Genesis Kit
  target:  genesis@pipes
  url:     https://pipes.starkandwayne.com

  initial_version: 0.2.0

  bosh:
    uri:      ((bosh.uri))
    username: ((bosh.username))
    password: ((bosh.password))
    cacert:   ((bosh.ca))

  vault:
    url:       ((vault.url))
    token:     ((vault.token))

  aws:
    access_key: ((aws.access_key_id))
    secret_key: ((aws.secret_access_key))

  github:
    owner:        genesis-community
    repo:         concourse-genesis-kit
    branch:       master
    private_key:  ((github.private_key))
    access_token: ((github.access_token))

  slack:
    webhook:  ((slack.webhook))
    channel:  '#botspam'
    username: starkandwayne-ci
    icon:     https://www.starkandwayne.com/assets/images/shield-blue-50x50.png
